<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chippo URL</title>
</head>
<body>
  <div>
    <% if (type === "failure") { %>
      <h1>Your url <%= input.url %> cannot be shortened to <%= input.alias %></h1>
    <% } else if (type === "success") { %>
      <h1>Your url <%= chippo.url %> becomes <%= chippo.fullAlias %></h1>
    <% } else { %>
      <h1>Something goes wrong</h1>
    <% } %>
  </div>
</body>
</html>